{% extends 'layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}
<h3>How to get help?</h3>
<p>Please follow the steps below:</p>
<ul>
<li> Go to <a href="{{url_for('instructions')}}">instructions</a> on the menu above. This might already solve your issue.</li>
<li> Talk to other sites that are using the VR Hazard Tour App. Maybe they had a similar issue and solved it.</li>
<li> Talk to your regional HSE SPOC. She/he might be able to help.</li>
<li>If your issue perists, please post a summary on Yammer. Look for the group "Data Visualization and Machine Learning in HS&E" and post your questions there. The whole community can see your request and help.</li>
<li>If your issue still remains unsolved, please contact Christoph Wagner-Gillen (wagnergillen.c@pg.com). He has written the application and will be able to help you.</li>
</ul>

{% endblock %}
