{% extends 'layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}
    <h1 class="page-header">Virtual Reality Hazard Tours</h1>
    <p>This prototpye application will offer you virtual hazard tours. Idearly you enjoy the tours with a tablet (e.g. iPad), but if none is available you can use your laptop or desktop browser. The integration of VR headsets is experimental and the controls might not working on all types of headsets yet. The VR mode works well on Google Cardboard (with Chrome) and the Oculus Quest (with Firefox Reality). </p>
      <p>This is a MVP (Minimum Vialbe Product) that only provides base functionality. </p>
      </br>
      <form action="/login" method="POST">
        <div class="form-group">
        <label>Please log in with your passwort (use 'test' in this demo): </label>
        </div>
        <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"> Submit </button>
                </span>
            </div>
          </div>
        </div>
      </form>
{% endblock %}
